*.RData
*.Rhistory
*.~lock.TIME_USE_24092022.csv#

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.Rproj.user
